<%- include('../partials/header', {title:"Yahtzee: User Details", username:username}) -%>
<body>
	<div class="container-fluid ps-md-0">
		<div class="row g-0">
            <!-- <div class="col-md-5 col-lg-5" id="user_games_ol">
              <div class="login d-flex align-items-center py-5">
                <div class="container">
                  <div class="row">
                    <div class="col-md-9 col-lg-8 mx-auto"> -->
                      <% if (games.length > 0) { %>
                        <ol id="user_games_ol">
                          <% games.forEach(function(game) { %>
                            <li><a id="game_link_<%= game.game_name %>" href="/games/<%= game.game_name %>/<%= username %>"><%= game.game_name %> - <%= game.score %></a></li>
                          <% }); %>
                        </ol>
                      <% } else { %>
                        <p>No games to display</p>
                      <% } %>
                    <!-- </div>
                  </div>
                </div>
              </div>
            </div> -->
            <div class="col-md-8 col-lg-6">
              <div class="login d-flex align-items-center py-5">
                <div class="container">
                  <div class="row">
                    <div class="col-md-9 col-lg-8 mx-auto">
                        <h3 class="login-heading mb-4">Register for an account</h3>
                        <section id="feedback"><h6 class="alert alert-danger" role="alert"><%=feedback%></h6></section></br>
                        <form action="/users" method="POST">
                        <div class="form-floating mb-3">
                            <input name="username" id="username_input" placeholder="Enter Username" value="<%= username %>" required autofocus>
                            <label for="username_input"></label>
                        </div>
                        <div class="form-floating mb-3">
                            <input name = "email" id="email_input" placeholder="Enter email" value="<%= email %>">
                            <label for="email_input"></label>
                        </div>
                        <hr>
                        <div class="form-floating mb-3">
                            <input name="password" id="password_input" placeholder="Password" value="<%= password %>">
                            <label for="password_input"></label>
                        </div>
                        <div class="d-grid mb-2">
                        <% if (updating) { %>
                          <button class="btn btn-lg btn-primary btn-login fw-bold text-uppercase" type="submit" id="update_button">Update</button>
                        <% if (username) { %>
                            <a href="/users/delete/<%=username%>" class="btn btn-danger" id="delete_link">Delete</a>
                        <% } %>
                          <button class="btn btn-lg btn-primary btn-login fw-bold text-uppercase" type="hidden" id="create_button">Create</button>
                        <% } else { %>
                          <button class="btn btn-lg btn-primary btn-login fw-bold text-uppercase" type="hidden" id="update_button">Update</button>
                          <a href="/users/delete/<%=username%>" class="btn btn-danger" id="delete_link">Delete</a>
                          <button class="btn btn-lg btn-primary btn-login fw-bold text-uppercase" type="submit" id="create_button">Create</button>
                        <% } %>
                        </div>
                        <a class="d-block text-center mt-2 small" href="/login">Have an account? Sign In</a>
                        </form>

              </div>
            </div>
          </div>
        </div>
      </div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body> 

<%- include('../partials/footer') -%>