<%- include('../partials/header', {title:"Yahtzee: "+gameName+'|'+username,
username:username, gameName:gameName}) -%>
<script src="/socket.io/socket.io.js"></script>

<section id="dice">
  <table>
    <tr>
      <td><img id="die_0" class="die" src="/images/blank.svg" width="70" /></td>
      <td><img id="die_1" class="die" src="/images/blank.svg" width="70" /></td>
      <td><img id="die_2" class="die" src="/images/blank.svg" width="70" /></td>
      <td><img id="die_3" class="die" src="/images/blank.svg" width="70" /></td>
      <td><img id="die_4" class="die" src="/images/blank.svg" width="70" /></td>
    </tr>
    <tr>
      <td colspan="3">Rolls remaining: <span id="rolls_remaining"><% if (scorecard_info.score == -1){ %> 3 <%} else{ %> <%=scorecards.filter((e) => e.user_id === user_id)[0].score_info.dice_rolls%> <%}%></span></td>
      <!-- <td colspan="3">Rolls remaining: <span id="rolls_remaining"><%=scorecards.filter((e) => e.user_id === user_id)[0].score_info.dice_rolls%></span></td> -->
      <td colspan="2">
        <button id="roll_button" type="button">Roll the Dice!</button>
      </td>
    </tr>
  </table>
  <br />
</section>

<section id="feedback"></section>

<section id="scorecard" user_id="<%user_id%>" class="<% for (const scorecard of scorecards) { %> <%=scorecard.user_id%><%}%>">
  <table>
    <tr>
      <th>UPPER SECTION</th>
      <th>HOW TO SCORE</th>
      <% for (const scorecard of scorecards) { %>
        <th><% if (scorecard.user_id === user_id) { %>player: <%=username%> <% }else{ %>enemy id: <%=scorecard.user_id%><%}%></th>
      <% } %>
    </tr>
    <% for (const num of ["ones", "twos", "threes", "fours", "fives", "sixes"]) {
      const singles = {"ones": "one", "twos": "two", "threes": "three", "fours": "four", "fives": "five", "sixes": "six"} %>
    <tr>
      <td><%=singles[num]%> <img src="/images/<%=singles[num]%>.svg" width="20" /></td>
      <td>Count and Add Only <%=num%></td>
      <% for (const scorecard of scorecards) { %>
      <td>
        <input type="text" class="upper category" user_id="<%=scorecard.user_id%>" scorecard_id="<%=scorecard.id%>" id="<%=singles[num] %>_input" size="3" value="<% if (scorecard.score_info.upper[num] !== -1){%><%=scorecard.score_info.upper[num]%><%}%>" <% if (scorecard.score_info.upper[num] !== -1) {%> disabled <%}%>/>
      </td>
      <% } %>
    </tr>
    <% } %>
    <tr>
      <td>TOTAL SCORE</td>
      <td>--</td>

      <% for (const scorecard of scorecards) { %>
        <td class="upper score" user_id="<%=scorecard.user_id%>" scorecard_id="<%=scorecard.id%>" id="upper_score"></td>
      <% } %>
    </tr>
    <tr>
      <td>BONUS</td>
      <td>If total score is more than 63, score 35</td>

      <% for (const scorecard of scorecards) { %>
        <td class="upper score" user_id="<%=scorecard.user_id%>" scorecard_id="<%=scorecard.id%>" id="upper_bonus"></td>
      <% } %>
    </tr>
    <tr>
      <td>TOTAL</td>
      <td>of upper section</td>

      <% for (const scorecard of scorecards) { %>
        <td class="upper score" user_id="<%=scorecard.user_id%>" scorecard_id="<%=scorecard.id%>" id="upper_total"></td>
      <% } %>
    </tr>
    <tr>
      <th>LOWER SECTION</th>
      <th></th>
      <th></th>
    </tr>
    <% for (const cat of ["three_of_a_kind", "four_of_a_kind", "full_house", "small_straight", "large_straight", "yahtzee", "chance"]) {
      const references = {"three_of_a_kind":{"category":"3 of a kind","scoring":"Add Total of All Dice"},
      "four_of_a_kind":{"category":"4 of a kind","scoring":"Add Total of All Dice"},
      "full_house":{"category":"Full House","scoring":"Score 25"},
      "small_straight":{"category":"Small Straight (Sequence of 4)","scoring":"Score 30"},
      "large_straight":{"category":"Large Straight (Sequence of 5)","scoring":"Score 40"},
      "yahtzee":{"category":"Yahtzee (5 of a kind)","scoring":"Score 50"},
      "chance":{"category":"Chance","scoring":"Score Total Of all 5 Dice"}} %>
    <tr>
      <td><%=references[cat]["category"]%></td>
      <td><%=references[cat]["scoring"]%></td>

    <% for (const scorecard of scorecards) { %>
      <td>
        <input type="text" class="lower category" user_id="<%=scorecard.user_id%>" scorecard_id="<%=scorecard.id%>" id="<%=cat%>_input" size="3" value="<% if (scorecard.score_info.lower[cat] !== -1){%><%=scorecard.score_info.lower[cat]%><%}%>" <% if (scorecard.score_info.lower[cat] !== -1) {%> disabled <%}%>/>
      </td>
    <% } %>
    </tr>
    <% } %>
    <tr>
      <td>Total (Of Lower Section)</td>
      <td></td>
      <% for (const scorecard of scorecards) { %>
        <td class="lower score" id="lower_score" user_id="<%=scorecard.user_id%>" scorecard_id="<%=scorecard.id%>"></td>
      <% } %>
    </tr>
    <tr>
      <td>Total (Of Upper Section)</td>
      <td></td>
      <% for (const scorecard of scorecards) { %>
        <td class="lower score" user_id="<%=scorecard.user_id%>" scorecard_id="<%=scorecard.id%>" id="upper_total_lower"></td>
      <% } %>
    </tr>
    <tr>
      <td>Grand Total</td>
      <td></td>
      <% for (const scorecard of scorecards) { %>
        <td class="lower score" user_id="<%=scorecard.user_id%>" scorecard_id="<%=scorecard.id%>" id="grand_total"></td>
      <% } %>
    </tr>
  </table>
</section>

<div id="chat_section">
  <textarea id="chat_display" name="chat_info"rows="10" cols="50"></textarea>
  <br>
  <input type="text" id="chat_message">
  <button type="button" id="chat_button">Send</button>
  <br>
</div>

<script>
  let socket = io.connect('/');//the default namespace
  socket.emit('game_connection', {username:'<%=username%>', gameName:'<%=gameName%>'});

  socket.on('game_connection', function(data) {
      console.log(data.username+" has joined the game!")

      //keep track of the current number of connected game players
      let chat_display_element = document.getElementById('chat_display');
      let text = " has joined the game!\n";
      if(data.username)
         text = data.username+text;

      chat_display_element.value = chat_display_element.value+text;
  });

  socket.on('connection', function(data) {
      console.log("New player has connected to Yahtzee!")
  });

  socket.on('chat', function(data) {
      console.log("Chat message received from "+data.username+": "+data.message)
      let chat_display_element = document.getElementById('chat_display');
      let text = data.message+"\n";
      if(data.username)
         text = data.username+": "+text;

      chat_display_element.value+=text;
  });

  socket.on('update', function(data){
    console.log("Scorecard updated")
    console.log("New scorecard: ", data)
    console.log(data["score_info"])
    console.log(window.scorecard)
    console.log(window.scorecards)
    window.scorecard.load_scorecard(data["score_info"], data["user_id"])
  })

  document.getElementById("chat_button").addEventListener('click', function(){
    let message_data = document.getElementById("chat_message").value;
    console.log("sending: "+message_data);
    socket.emit('chat', {
      username:'<%=username%>',
      gameName:'<%=gameName%>',
      message: message_data
    });
    document.getElementById("chat_message").value="";
  });

</script>



<script src="/js/UI.js" type="module"></script>

<%- include('../partials/footer') -%>