<%- include('../partials/header', {title:"Yahtzee: My Games", username:username}) -%>

        <h1>"Username" Games</h1>

        <form id="create_game_form" action="/games" method="post">
            <input type="hidden" id="username_input" name="username" value="<%= username %>">
            <input type="text" id="game_name_input" name="game_name" placeholder="Enter Game Name">
            <button type="submit" id="create_button">Create</button>
        </form>
        <section id="feedback"><%=feedback%></section></br>

        <ol id="user_games_ol">
            <table class="table table-borderless caption-top">
              <thead>
                <tr>
                  <h1><%=username%>'s Games</h1>
                </tr>
              </thead>
              <tbody>
                <% games.forEach(function(game) { %>
                    <% console.log("wow",game) %>
                  <li>
                    <tr>
                      <th scope="row">1</th>
                      <td><a href="/games/<%=game%>/<%=username%>" id="game_link_<%=game%>"><%= game %></a></td>
                      <td><a class="btn btn-danger" id="delete_link_<%=game%>" href="/games/delete/<%=game%>/<%=username%>" role="button">Delete Game</a></td>
                    </tr>
                  </li>
                <% }); %>
              </tbody>
            </table>
        </ol>    
        
        <ol id="high_scores_ol">
            <li>OL Test</li>
        </ol>

        <a id="my_games_link" href="/games/<%= username %>">My Games</a>
        <a id="user_details_link" href="/users/<%= username %>">User Details</a>

<%- include('../partials/footer') -%>