<%- include('../partials/header', {title:"Yahtzee: My Games", username:username}) -%>

        <h1>"Username" Games</h1>

        <form id="create_game_form" action="/games" method="post">
            <input type="hidden" id="username_input" name="username" value="<%= username %>">
            <input type="text" id="game_name_input" name="game_name" placeholder="Enter Game Name">
            <button type="submit" id="create_button">Create</button>
        </form>
        <section id="feedback"><%=feedback%></section></br>

        <a id="delete_link" class="btn btn-primary" href="/users">Delete Account</a>

        <ol id="user_games_ol">
            <h3><%= username %>'s Games</h3>
                <% if (games && Array.isArray(games)) { %>
                <%for (let game of games){ %>
                        <li>
                        <a id="game_link_<%=game.name%>" href="/games/<%= game.name %>/<%= username %>">Specific Game</a>
                        <a id="delete_link_<%=game.name%>" href="/games/delete/<%= game.name %>/<%= username %>">Delete</a>
                        </li>
                <% } %>
                <% } else { %>
                    <p>No games available.</p>
                <% } %>
        </ol>
        <ol id="high_scores_ol">
            <li>OL Test</li>
        </ol>

        <a id="my_games_link" href="/games/<%= username %>">My Games</a>
        <a id="user_details_link" href="/users/<%= username %>">User Details</a>

<%- include('../partials/footer') -%>