<%- include('../partials/header', {title:"Yahtzee: My Games", username:username}) -%>

        <form id="create_game_form" action="/games" method="post">
            <input type="hidden" id="username_input" name="username" value="<%= username %>">
            <input type="text" id="game_name_input" name="game_name" placeholder="Enter Game Name">
            <button type="submit" id="create_button">Create</button>
        </form>
        <section id="feedback"><%=feedback%></section></br>

        <ol id="user_games_ol">
            <table class="table table-borderless caption-top">
              <thead>
                <tr>
                  <h1><%=username%>'s Games</h1>
                </tr>
              </thead>
              <tbody>
                <% games.forEach(function(gamu) { %>
                  <% console.log("jeez", typeof gamu) %>
                  <li>
                      <% if (typeof gamu == "string"){ %>
                      <% console.log("glapaa",gamu) %>
                      <tr><a href="/games/<%=gamu%>/<%=username%>" id="game_link_<%=gamu%>"><%= gamu %></a></tr>
                      <tr><a class="btn btn-danger" id="delete_link_<%=gamu%>" href="/games/delete/<%=gamu%>/<%=username%>" role="button">Delete Game</a></tr>
                      <%} else {%>
                      <% console.log("sleesh",gamu.name, username) %>
                      <tr><a href="/games/<%=gamu.name%>/<%=username%>" id="game_link_<%=gamu.name%>"><%= gamu.name %></a></tr>
                      <tr><a class="btn btn-danger" id="delete_link_<%=gamu.name%>" href="/games/delete/<%=gamu.name%>/<%=username%>" role="button">Delete Game</a></tr>
                      <%}%>
                  </li>
                <% }); %>
              </tbody>
            </table>
        </ol>    
        
        <ol id="high_scores_ol">
            <li>Highscores OL Test</li>
        </ol>

        <a id="my_games_link" href="/games/<%= username %>">My Games</a>
        <a id="user_details_link" href="/users/<%= username %>">User Details</a>

<%- include('../partials/footer') -%>