<%- include('../partials/header', {title:"Yahtzee: My Games", username:username}) -%>

<html lang="en">
<head>
    <title>Yahtzee: My Games</title>
</head>
<body>
    <input type="hidden" id="username_input" name="username" value="<%= username %>">
    <ol id="user_games_ol">
        <h3><%= username %>'s Games</h3>
        <p> what the hell <%= games %></p>
        <% if (games && Array.isArray(games)) { %>
            <% games.forEach(function(game) { %>
                <li id="game_link_<%= game.name %>">
                    <%= game.game_name %>
                    <a href="/games/<%= game.game_name %>" id="delete_link_<%= game.game_name %>">Delete</a>
                </li>
            <% }); %>
          <% } else { %>
            <p>No games available.</p>
          <% } %>
    </ol>

    <form id="create_game_form" action="/games" method="post">
        <input type="text" id="game_name_input" name="game_name" placeholder="Enter Game Name">
        <button type="submit" id="create_button">Create</button>
    </form>

    <ol id="high_scores_ol">
        <h3>Yahtzee High Scores</h3>
        <% if (highscores && Array.isArray(highscores)) { %>
            <% highscores.forEach(function(score) { %>
                <li id="score_item <%= score %>">
                    <%= score.game_name %> <%= score.username%>
                </li>
            <% }); %>
          <% } else { %>
            <p>No highscores available.</p>
          <% } %>
    </ol>
    <section id="feedback"></section>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>


<%- include('../partials/footer') -%>