<%- include('../partials/header', {title:"Yahtzee: My Games", username:username}) -%>

<html lang="en">
<head>
    <title>Yahtzee: My Games</title>
</head>
<body>
    <input type="hidden" id="username_input" name="username" value="<%= username %>">

    <form id="create_game_form" action="/games" method="post">
        <input type="text" id="game_name_input" name="game_name" placeholder="Enter Game Name">
        <button type="submit" id="create_button">Create</button>
    </form>

    <div id="feedback"></div>

    <ol id="user_games_ol">
        <% games.forEach(function(game) { %>
            <li id="game_item_<%= game.name %>">
                <%= game.name %>
                <a href="/path/to/delete/game/<%= game.name %>" id="delete_link_<%= game.name %>">Delete</a>
            </li>
        <% }); %>
    </ol>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>


<%- include('../partials/footer') -%>